<html>
<body bgcolor="#daa520">
<div align=center>
  <b style="font-size:60px"><%= @album.name %><br/><%= link_to "Add New photo", new_photo_path(:id=>@id) %></b></div>
<div id="header">
  <div align="center">
    Total Pics(<%= @album.photos.count %>)
  </div>
</div>
<div id="main_view">
  <div class="sub_view">
    <% @album.photos.each do |f| %>
					<span class="each_pic" id="delete_<%= f.id %>">
               		<%= link_to(image_tag(f.picture.url, :class=>"thumb_pic"), photo_path(f.id), :method=>:get) %>                                            <%# if !a.photo_file_name.blank? %>
                      <div align="center" class="del_div">
                        <ul class=del>
                          <li><%= link_to "Delete", "/photo/#{f.id}", :method=>"delete", :remote=>true, :confirm => 'Are you sure to delete?' %></li>

                        </ul>
                      </div>
					</span>
    <% end %>
  </div>
</div>
</body>
</html>
